@use '../colors';

body {
	position: relative;
	box-sizing: border-box;
	min-height: 100vh;
	min-width: 100vw;
	padding: 3rem;
	margin: 0;
	height: 100vh;
	background-color: colors.$gray-background;

}
