@use '../colors';
@use '../mixings';

.form {
	width: 50vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	.title {
		@include mixings.title;
		margin-top: 3rem;
		margin-bottom: 3rem;
	}
	.form-field {
		display: flex;
		justify-content: space-between;
		margin: 1.2rem;
		text-align: left;
		width: 70%;
		.label {
			@include mixings.form-text;
			width: 30%;
		}
		.input {
			@include mixings.form-text;
			border: none;
			background-color: transparent;
			border-bottom: 1px solid white;
			width: 70%;
		}
		.input:focus {
			outline: none;
		}
	}
	.submit {
		color: colors.$gold;
		background-color: transparent;
		border: none;
		font-size: 1.5rem;
		margin-top: 2rem;
		font-weight: 600;
	}
	.submit:hover {
		cursor: pointer;
		text-decoration: underline;
	}
}
