.nav-menu {
  transition: all 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  right: 0%;
  top: 0%;
}
.nav-menu .nav-link {
  visibility: hidden;
  display: block;
  width: auto;
  margin: 3.5rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  font-size: 2.2rem;
  font-weight: 900;
  color: gold;
}

.nav-menu.open {
  z-index: 10;
  visibility: visible;
  opacity: 1;
}
.nav-menu.open .nav-link {
  visibility: visible;
  transform: translateX(0);
}
.nav-menu.open .nav-link:hover {
  text-decoration: underline;
}

.menu-area {
  position: absolute;
  top: 2%;
  right: 2%;
  cursor: pointer;
  height: 4rem;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-area .burger-menu {
  width: 6rem;
  height: 0.8rem;
  background: #fffa00;
  background: linear-gradient(90deg, #fffa00 0%, #fffa00 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 85%, #fffa00 85%);
  border-radius: 2px;
  transition: all 0.5s ease-in-out;
}

.burger-menu::before,
.burger-menu::after {
  width: 6rem;
  height: 0.8rem;
  background: #fffa00;
  background: linear-gradient(90deg, #fffa00 0%, #fffa00 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 85%, #fffa00 85%);
  border-radius: 2px;
  transition: all 0.5s ease-in-out;
  content: "";
  position: absolute;
}

.burger-menu::before {
  transform: translateY(-25px);
}

.burger-menu::after {
  transform: translateY(25px);
}

.burger-menu.open {
  transform: translateX(-50px);
  background: transparent;
}

.burger-menu.open::before {
  transform: rotate(45deg) translate(35px, -35px);
  background-color: gold;
}

.burger-menu.open::after {
  transform: rotate(-45deg) translate(35px, 35px);
  background-color: gold;
}

body {
  background-color: black;
  padding: 0 15vw;
  overflow: hidden;
}

.title {
  display: block;
  width: 100%;
  color: gold;
  font-size: 3rem;
  text-transform: uppercase;
  margin: 8rem 0 4rem 0;
  text-align: center;
  font-size: 2rem;
  width: 100%;
}

.catalogs {
  height: 60vh;
  position: absolute;
  bottom: 0;
  width: 70vw;
  display: flex;
  justify-content: center;
}
.catalogs .catalog {
  position: relative;
  width: 50%;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid black;
  cursor: pointer;
  padding-top: 3rem;
}
.catalogs .catalog .catalog-info {
  background-color: black;
  height: 10%;
  width: 70%;
  text-align: center;
  transition: all 1s ease-in-out;
  padding: 1.5rem 0;
}
.catalogs .catalog .catalog-info .catalog-title {
  color: gold;
  border-radius: 2px;
  font-size: 1.4rem;
  position: relative;
  bottom: 1rem;
  display: inline-block;
  margin-bottom: 0;
}
.catalogs .catalog .category {
  opacity: 0%;
  position: relative;
  transition: all 0.5s linear;
}
.catalogs .catalog .category .category-title {
  text-align: left;
  margin: 0 2rem;
  font-size: 1.5rem;
}
.catalogs .catalog .category .category-items {
  margin: 0 2rem;
}
.catalogs .catalog .category .category-items .item {
  list-style: none;
  text-align: left;
  font-size: 1.2rem;
  margin: 0.3rem 0;
}
.catalogs #platillos {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../images/local/platillos.jpg");
}
.catalogs #bebidas {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../images/local/bebidas.jpeg");
}
.catalogs .catalog.open .catalog-info {
  height: 90%;
  bottom: 0;
}
.catalogs .catalog.open .category {
  color: white;
  font-size: 1.5rem;
  text-align: left;
  font-weight: 500;
  transform: translateX(0);
  opacity: 100%;
  transition: all 1s ease-in;
}

/*# sourceMappingURL=local.css.map */
