@use '../colors';
@use '../mixings';

.info {
	width: 50vw;
	height: 100vh;
	text-align: center;
	justify-content: center;
	background-color: black;
	color: white;
	.title {
		@include mixings.title;
	}
	.info-text {
		font-size: 1.7rem;
		line-height: 3rem;
		text-transform: capitalize;
	}
	.email,
	.phone {
		text-decoration: none;
		color: white;
		display: block;
		margin: 1rem 0;
		font-size: 2rem;
	}
	.email:hover,
	.phone:hover {
		color: colors.$gold;
	}

	.social {
		.social-link {
			color: colors.$gold;
			font-size: 3rem;
			.social-logo {
				margin: 0 1rem;
			}
		}
	}
}
