@use 'colors';
@use 'mixings';
@use 'variables';

.menu-area {
	position: absolute;
	top: 2%;
	right: 2%;
	cursor: pointer;
	height: 4rem;
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
	.burger-menu {
		@include mixings.menu-line;
	}
}
.burger-menu::before,
.burger-menu::after {
	@include mixings.menu-line;
	content: "";
	position: absolute;
}

.burger-menu::before {
	transform: translateY(-(variables.$menu-line-separation));
}
.burger-menu::after {
	transform: translateY(variables.$menu-line-separation);
}
.burger-menu.open {
	transform: translateX(-50px);
	background: transparent;
}
.burger-menu.open::before {
	transform: rotate(45deg) translate(35px, -35px);
	background-color: colors.$gold;
}
.burger-menu.open::after {
	transform: rotate(-45deg) translate(35px, 35px);
	background-color: colors.$gold;
}
