@use 'colors';
@use 'variables';

@mixin title() {
	display: block;
	width: 100%;
	color: colors.$gold;
	font-size: 3rem;
	text-transform: uppercase;
	margin: 4rem 0 2rem 0;
	text-align: center;
}

@mixin form-text() {
	color: white;
	font-size: 1.3rem;
	font-weight: 600;
}

@mixin menu-line() {
	width: 6rem;
	height: 0.8rem;
	background: rgb(255, 250, 0);
	background: linear-gradient(
		90deg,
		rgba(255, 250, 0, 1) 0%,
		rgba(255, 250, 0, 1) 75%,
		rgba(0, 0, 0, 0) 75%,
		rgba(0, 0, 0, 0) 85%,
		rgba(255, 250, 0, 1) 85%
	);
	border-radius: 2px;
	transition: all 0.5s ease-in-out;
}

@mixin slider(){
		position: relative;
		height: 100%;
		width: 50%;
		margin: 0 auto;
		.control-area {
			height: 6%;
			width: 5%;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			.slider-control {
				@include menu-line;
				background: transparent;
				display: none;
			}
			.slider-control.visible {
				display: block;
			}
		}

		#left,
		#right {
			position: absolute;
		}
		#left {
			left: -15%;
			top: 50%;
		}

		#right {
			right: -15%;
			top: 50%;
		}

		#left > .slider-control::before,
		#left > .slider-control::after,
		#right > .slider-control::before,
		#right > .slider-control::after {
			@include menu-line;
			background-color: colors.$gold;
			content: "";
			position: absolute;
			height: 0.3rem;
			width: 3rem;
		}

		#left > .slider-control::before {
			transform: translateY(13px - (variables.$menu-line-separation))
			rotate(-30deg);
		}
		#left > .slider-control::after {
			transform: translateY(-13px + variables.$menu-line-separation) rotate(30deg);
		}
		#right > .slider-control::before {
			transform: translateY(13px - (variables.$menu-line-separation))
			rotate(30deg);
		}
		#right > .slider-control::after {
			transform: translateY(-13px + variables.$menu-line-separation)
			rotate(-30deg);
		}
		.slider-image {
			position: absolute;
			visibility: hidden;
			width: 100%;
			height: 100%;
			opacity: 0;
			transition: visibility 0s, opacity 0.5s linear;
		}
		.slider-image.visible {
			visibility: visible;
			opacity: 1;
		}
}
