@use 'colors';

.nav-menu {
	transition: all 0.5s ease-in-out;
	visibility: hidden;
	opacity: 0;
	position: absolute;
	background-color: colors.$gray-background;
	right: 0%;
	top: 0%;
	.nav-link {
		visibility: hidden;
		display: block;
		width: auto;
		margin: 3.5rem;
		text-transform: uppercase;
		text-decoration: none;
		transition: all 0.5s ease-in-out;
		font-size: 2.2rem;
		font-weight: 900;
		color: colors.$gold;
	}
}
.nav-menu.open {
	z-index: 10;
	visibility: visible;
	opacity: 1;
	.nav-link {
		visibility: visible;
		transform: translateX(0);
	}
	.nav-link:hover {
		text-decoration: underline;
	}
}
