@use '../colors';

.about-us {
	background-color: black;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: start;
	height: 40%;
	padding-top: 2rem;
	.header {
		color: colors.$gold;
		text-transform: uppercase;
		width: 40%;
		text-align: left;
		font-size: 5rem;
	}
	.text {
		color: white;
		font-size: 1.3rem;
		width: 50%;
		text-align: justify;
	}
}
